<input id='menu' type='checkbox' />
<div class='start-screen'>
  <%= form_with(url: search_greetings_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder:"キーワードを入力"%>
    <%= form.submit "検索", type: "hidden", class: "search-btn" %>
  <% end %>
  <label for='menu' class='open' >
    <div class='start-btn'>
      <%= 'START' %>
    </div>
  </label>
</div>

  
<div class='main-contents'>
  <% photos = @photos%>
  <% photos.each_with_index do |photo , n| %>
  <div class='at-container'>
    <div class='at-item ani-option<%="#{n}"%>'>
      <%=  image_tag photo.urls.thumb ,class: "size-option#{n}", style: 'opacity: unset;' %> 
    </div>
  </div>
  <% end %>
</div>