<input id='menu' type='checkbox' />
<div class='start-screen'>
  <div class='app-title'>
    <%= 'Eureka' %>
  </div>
  <%= form_with(url: search_greetings_path, local: true, method: :get, class: "search-form") do |form| %>
    <%= form.text_field :keyword, placeholder:"keyword", class: "search-input" %>
    <%= form.submit "search", class: "search-btn" %>
  <% end %>
  <label for='menu' class='open' >
    <div class='start-btn'>
      <%= 'START' %>
    </div>
  </label>
  <div class='icon-space'>
    <img alt="Eureka-icon" src="https://coffee-ristretto.s3-ap-northeast-1.amazonaws.com/uploads/profile/image/16/eureka-icon.png", class='eureka-icon' />
  </div>
</div>

  
<div class='main-contents'>
  <% photos = @photos%>
  <% photos.each_with_index do |photo , n| %>
  <div class='at-container'>
    <div class='at-item ani-option<%="#{n}"%>'>
      <%=  image_tag photo.urls.thumb ,class: "size-option#{n}", style: 'opacity: unset;' %> 
    </div>
  </div>
  <% end %>
</div>